h1, h2 {
    color: white;
}

table, th, td {
    color: white;
    border: 1px solid white;
}

body {
    margin: 0;
    overflow: hidden;
}

#moving-text1 {
    display: block;
    animation: bouncetext 4s ease-in-out infinite;
}

#moving-text-half1 {
    display: block;
    animation: bouncetextwall 4s ease-in-out infinite;
}

#moving-text2 {
    display: block;
    animation: bouncetext 4s ease-in-out infinite;
}

#moving-text-half2 {
    display: block;
    animation: bouncetextwall 4s ease-in-out infinite;
}

#moving-text3 {
    display: block;
    animation: bouncetext 4s ease-in-out infinite;
}

#moving-text-half3 {
    display: block;
    animation: bouncetextwall 4s ease-in-out infinite;
}

#moving-text4 {
    display: block;
    animation: bouncetext 4s ease-in-out infinite;
}

#moving-text-half4 {
    display: block;
    animation: bouncetextwall 4s ease-in-out infinite;
}

#moving-text5 {
    display: block;
    animation: bouncetext 4s ease-in-out infinite;
}

#moving-text-half5 {
    display: block;
    animation: bouncetextwall 4s ease-in-out infinite;
}

@keyframes bouncetext {
    0% { transform: translateX(0%); }
    100% { transform: translateX(96%); }  /* Text reaches the center at 50% */
}

@keyframes bouncetextwall {
    0% { transform: translateX(0%); }
    100% { transform: translateX(44%); }  /* Text reaches the center at 50% */
}

.left {
    margin-top: auto;
    margin-right: 1%;
    margin-bottom: 0.2%;
    margin-left: 1%;
    width: 3%;
}

.right {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 3%;
}